a {
     color: whitesmoke;
     font-size: 1.6rem;
     margin-left: 1rem;
     box-shadow: 19px 4px 9px black;
     padding: 0.5rem 2.8rem;
     border-radius: 10px;
     
}
button {
    margin-left: 10rem;
    font-size: 1.4rem;
    background-color: black;
    border-radius: 10px;
    padding: 0.4rem 0.4rem;
    color: #7b1fa2;
    font-weight: 800;
    box-shadow:  5px 5px 5px black;
}
